<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}Telegram Lalín{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        {# TODO: cambiar o path_for por baseUrl ou similar #}        
        <link media="all" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link media="all" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />

        <link media="all" rel="stylesheet" href="{{ path_for('home') }}/assets/emojis/emoji.css" />
        <link media="all" rel="stylesheet" href="{{ path_for('home') }}/assets/tg.css" />
        <style>
        .width {
            max-width: {% block width %}400{% endblock %}px;
        }
        </style>
    </head>
    <body>
        <div class="container width">
        {% block content %}{% endblock %} 
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block customJs %}{% endblock %}         
    </body>
</html>