{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul id="messages">
            {% set curDate = '' %}
            {% for message in messages %}
                {% if message.message.date != curDate %}
                    <li class="date">
                        <div>{{ message.message.date|date("d/m/Y") }}</div>
                    </li>
                    {% set curDate = message.message.date %}
                {% endif %}
                <li>{{ message.html|raw }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}