<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        // Renderer settings
        'renderer' => [
            'templates' => __DIR__ . '/../templates/',
            'cache' => __DIR__ . '/../cache/',
        ],

        'db' => [
            'host' => 'localhost',
            'database' => 'dbname',
            'dsn' => 'mysql:host=localhost;dbname=dbname',
            'user' => 'user',
            'password' => 'pass',
        ],

        'bot' => [
            'api_key' => '...',
            'username' => '...Bot',
            'files' => __DIR__ . '/../public/files',
            'channels_allow' => ['nomecanle', ]
        ],

        'token' => '...',

        // Monolog settings
        'logger' => [
            'name' => 'slim-app',
            'path' => isset($_ENV['docker']) ? 'php://stdout' : __DIR__ . '/../logs/app.log',
            'level' => \Monolog\Logger::DEBUG,
        ],
    ],
];
